$mobile-only: "only screen and (max-width : 768px)";

#footer {
  position: relative;
  padding: 10px;
  height: 60px;
  border-top: 2px solid #C75E88;
  letter-spacing: 0.7px;
  text-align: center;

  a {
    color: #C75E88;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media #{$mobile-only} {
    display: none;
  }
}
